h1 {
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 1) !important;
  font-size: 61px;
  font-weight: bold !important;
  text-align: center;
  text-underline-position: from-font;
  font-size: 61px !important;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  min-height: 100vh;
}

header {
  min-height: 80px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(7, 36, 46);
}

.link {
  text-decoration: none;
  color: rgb(7, 36, 46);
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: rgb(15, 91, 116);
}

.d_none {
  display: none;
}

.back_color {
  background-color: #091931;
}


