h1 {
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 1) !important;
  font-size: 61px;
  font-weight: bold !important;
  text-align: center;
  text-underline-position: from-font;
  font-size: 61px !important;
  font-family: "Inter 18pt";
}

.active {
  background-color: #007bff;
}

body {
  font-family: "Inter 18pt";
  font-weight: normal;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  min-height: 100vh;
}

header {
  min-height: 80px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(7, 36, 46);
}

.link {
  text-decoration: none;
  color: rgb(7, 36, 46);
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: rgb(15, 91, 116);
}

.d_none {
  display: none !important;
}

.back_color {
  background-color: #091931;
}

.login_color {
  color: #A1A4A9 !important;
  font-size: 19px;
}

.task_bar_login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  gap: 5%;
}

.nav_bar_area {
  display: flex;
}

.nav_bar_login {
  text-decoration: none;
  border-radius: 10px;
  width: 97px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar_login:focus {
  background-color: #091931;
  color: white;
}

.nav_link_login {
  width: 95px;
  font-size: 15px;
  color: white;
}