<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet" href="../style.css"/>
    <link rel="stylesheet" href="../styles/standard.css" />
    <link rel="stylesheet" href="../styles/components.css" />
    <link rel="stylesheet" href="../styles/fonts.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
  
    <link rel="icon" type="image/x-icon" href="../assets/icons/Logo for Favicon construction.svg" />
  
    <title>join</title>
</head>
<body>
  <div class="main_bar">
    <section class="left_bar_main">
      <div class="left_bar_area">
        <img src="./assets/icons/Join_Logo_Bar.svg" alt="">
      </div>
      <div class="task_bar">
        <a class="nav_bar" href="">
          <div class="nav_stripe">
            <img src="./assets/icons/Summary_Icon.svg" alt="">
            <span class="nav_link">Summary</span>
          </div>
        </a>
        <a class="nav_bar" href="">
          <div class="nav_stripe">
            <img src="./assets/icons/AddTask_Icon.svg" alt="">
            <span class="nav_link">Add Task</span>
          </div>
        </a>
        <a class="nav_bar" href="">
          <div class="nav_stripe">
            <img src="./assets/icons/Board_Icon.svg" alt="">
            <span class="nav_link">Board</span>
          </div>
        </a>
        <a class="nav_bar" href="">
          <div class="nav_stripe">
            <img src="./assets/icons/Contacts_Icon.svg" alt="">
            <span class="nav_link">Contacts</span>
          </div>
        </a>
      </div>
      <div class="privacy">
        <a class="privacy_a" href="">
          <span class="privacy_info">Privacy Policy</span>
        </a>
        <a class="privacy_a" href="">
          <span class="privacy_info">Legal notice</span>
        </a>
      </div>
    </section>
    <main>
      <section class="top_bar_main">
        <div class="top_bar_area">
          <span class="top_bar_span">Kanban Project Management Tool</span>
          <div class="user_main">
            <a class="help_info" href="">
              <img src="./assets/icons/help.svg" alt="">
            </a>
            <a class="user_profil" href="">
              <span>SM</span>
            </a>
          </div>
        </div>
      </section>
      <section class="container">        
      </section>
    </main>
  </div>
</body>
</html>