body {
  margin: 0;
  background: rgb(246, 247, 248) !important;
}

main {
  overflow-y: auto;
  max-height: 100vh;
}

h1 {
  margin-bottom: 5rem;
  font-size: 4rem !important;
  display: flex;
  align-self: flex-start;
}

.user_profil {
font-weight: 500;
}
.addTaskSection {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
}

input:focus {
  outline: 1px solid rgba(41, 171, 226, 1) !important;
}

.task-form {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 20px;
}

.task-form label {
  align-self: flex-start;
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 12px;
  position: relative;
}

.customInput {
  border: none !important;
}

input:focus {
  outline: none !important;
}

.red {
  color: red;
  font-weight: 200;
}

.taskButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-family: "Inter 18pt";
  font-weight: bold;
  margin: 12px;
  border-radius: 10px;
  margin-top: 7rem;
  width: 110px;
  height: 56px;
  border: 10px !;
  border-color: #091931 !important;
  gap: 4px;
}

.taskButton img {
  width: 20px;
}

.taskButton-clear {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter 18pt";
  font-weight: bold;
  margin: 12px;
  margin-top: 7rem;
  width: 110px;
  border-color: #091931 !important;
  background-color: transparent;
  color: rgba(42, 54, 71, 1) !important;
  border: solid rgba(42, 54, 71, 1) !important;
  border-width: 1px !important;
  outline: none;
  padding: 15px 16px;
  border-radius: 8px;
  gap: 10px;
  height: 56px;
  font-weight: 300 !important;
}

.taskButton-clear img {
  width: 12px;
}

.taskButton:hover {
  border-color: rgba(41, 171, 226, 1) !important;
  color: rgba(41, 171, 226, 1) !important;
}

.taskButton:nth-child(2) {
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  outline: none;
  width: 180px !important;
}

.taskButton:nth-child(2):hover {
  background-color: rgba(41, 171, 226, 1) !important;
}

/* Container für Fehlermeldung + Buttons */
.form-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 85%;
}

.error-message {
  font-size: 14px;
  margin-top: 6rem;
  white-space: nowrap;
}

.error-message-mobile {
  display: none;
  font-size: 14px;
  margin-top: 16px;
  white-space: nowrap;
}

/* Rotes Sternchen */
.required {
  color: #e74c3c;
  font-weight: bold;
}

.addTaskButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addTaskButton .taskButton {
  flex: 1;
  border-radius: 10px;
}

.priority {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.priority button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.red {
  color: red;
  font-weight: 200;
}

.priority button img {
  margin-left: 10px;
}

.priority button:hover {
  background-color: red;
}

.priority button.selected {
  border-width: 2px;
  font-weight: bold;
}

.priority button.selected.urgent {
  background-color: #ff3d00;
  border-color: #ff3d00;
  color: white !important;
}

.priority button.selected.urgent img {
  content: url(assets/icons/urgent-white.svg);
}

.selected-contacts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.selected-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  position: relative;
}

.selected-contact-initials {
  display: block;
  text-align: center;
}

.contact-initials {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

/* Standardfarbe für SVGs */
.priority button svg {
  width: 20px;
  height: 20px;
  fill: black; /* Standardfarbe */
  transition: fill 0.3s ease;
}

/* Urgent Button */
.priority button.selected.urgent {
  background-color: #ff3d00;
  color: white;
}

.priority button.selected.urgent svg {
  fill: white;
}

/* Medium Button */
.priority button.selected.medium {
  background-color: #ffa800;
  color: white;
}

.priority button.selected.medium svg {
  fill: white;
}

/* Low Button */
.priority button.selected.low {
  background-color: #7ae229;
  color: white;
}

.priority button.selected.low svg {
  fill: white;
}
/* Container für das Dropdown */
.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropDown-up {
  display: none;
  margin-right: 16px;
}

/* Eingabefeld mit Dropdown-Icon */
.dropdown-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  border-radius: 12px;
  text-align: left;
}

.paddingTop {
  padding: 8px 20px 10px 8px;
}

#dropdown-icon {
  transition: transform 0.3s ease;
  margin-right: 16px;
}

#dropdown-icon-Edit {
  transition: transform 0.3s ease;
  margin-right: 16px;
}

.dropdown-content.visible ~ .dropdown-input #dropdown-icon {
  transform: rotate(180deg);
}

#inputField:focus, 
#description:focus, 
#assigned-input:focus-within, 
#due-date:focus,
#custom-category:focus {
  border: 2px solid rgba(41, 171, 226, 1);
  outline: none;
}


.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: scroll;
  font-weight: 100;
}

.dropdown-content.visible {
  display: block;
}

.dropdown-content label {
  margin-top: 0px !important;
  margin-bottom: 1px !important;
}

.customCheckboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
  font-weight: 100;
  height: 40px;
}

.customCheckboxContainer:last-child {
  border-bottom: none;
}

.contact-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
}

.svg-container {
  margin-left: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.subtasksUnit {
  flex-grow: 1;
  margin-left: 10px;
  white-space: nowrap;
}

.customCheckbox {
  margin-right: 12px;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url("../assets/icons/checkbox_empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease, border-color 0.2s ease;
  margin-left: auto; /* Abstand nach links */
  position: relative;
}

.customCheckboxContainer:hover {
  background-color: rgba(238, 238, 238, 1);
}

.customCheckboxContainer input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.customCheckboxContainer input[type="checkbox"]:checked + .customCheckbox {
  background-image: none;
}

.customCheckboxContainer input[type="checkbox"]:checked ~ .contact-row .customCheckbox {
  background-image: url("../assets/icons/check_withBox.svg") !important;
}

.customCheckboxContainer input[type="checkbox"]:checked ~ .contact-row {
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 6px;
}

.customCheckboxContainer.checked:hover .contact-row {
  background-color: rgba(9, 25, 49, 1) !important;
}

/* Weißes SVG-Farben-Fix */
.customCheckboxContainer.checked .subtasksUnit {
  color: white;
}

.customCheckboxContainer.checked .svg-container svg path {
  fill: white !important;
  stroke: white !important;
}

.customCheckboxContainer.checked .customCheckbox {
  background-image: url("../assets/icons/check_withBox.svg") !important;
  filter: invert(1) brightness(2);
}

.add-subtask {
  display: flex;
  gap: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.input-wrapper input {
  padding-right: 40px;
}

.input-wrapper button {
  position: absolute;
  top: 4px;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#searchInput::-webkit-search-cancel-button {
  display: none;
}

#searchInput:focus {
  border: 1px solid rgba(41, 171, 226, 1);
  box-shadow: none;
}

.iconAdd {
  background-image: url(../assets/icons/addthin.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  margin-right: 8px
}

.iconAdd:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2); /* Grauer, halbtransparenter Hintergrund */
  z-index: 0;
}

.formateList {
  margin-left: 24px;
  margin-top: 8px;
}

.editSubtask {
  width: 64px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#subtasks-container .input-wrapper .deleteSubtask {
  display: none;
}

#subtasks-container .input-wrapper:hover .editIconSubtask,
#subtasks-container .input-wrapper:hover .lineSubtask,
#subtasks-container .input-wrapper:hover .deleteSubtask {
  display: flex;
  align-items: center;
  justify-content: center;
}

#subtasks-container .input-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1); /* Grauer, halbtransparenter Hintergrund */
  z-index: 0;
}

.editIconSubtask {
  display: none;
  position: absolute;
  background-image: url(../assets/icons/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  width: 56px;
  height: 12px;
  margin-right: 12px;
}

.editSubtaskContainer {
  width: 40px;
}

.inputSubtaskEdit {
  height: 32px;
  margin-top: 8px;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid rgba(41, 171, 226, 1) !important;
  border-radius: 0px !important;
}

.lineSubtask {
  display: none;
  position: absolute;
  background-image: url(../assets/icons/verticalLine.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 1px;
  height: 16px;
  margin-right: -8px;
  align-self: center;
}

.lineSubtaskEdit {
  position: absolute;
  background-image: url(../assets/icons/verticalLine.svg);
  background-repeat: no-repeat;
  width: 1px;
  height: 16px;
  right: 25px !important;
  margin-top: 14px;
}

.deleteSubtask {
  position: absolute;
  background-image: url(../assets/icons/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  z-index: 5;
}

.acceptBtn {
  position: absolute;
  background-image: url(../assets/icons/check_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px !important;
  z-index: 5;
}

.acceptBtn:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2); /* Grauer, halbtransparenter Hintergrund */
  z-index: 4;
}

.deleteSubtaskEdit {
  position: absolute;
  background-image: url(../assets/icons/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px !important;
  right: 20px !important;
  z-index: 5;
}

.deleteSubtaskEdit:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2); /* Grauer, halbtransparenter Hintergrund */
  z-index: 4;
}

.side1,
.side2 {
  flex: 1;
  max-width: 400px;
  position: relative;
}

.side2 {
  display: flex
  ;
      flex-direction: column;
}

label {
  margin-top: 20px;
  margin-bottom: 8px;
}

.divider {
  margin-top: 20px;
  width: 1px;
  background-color: #ccc;
  height: 420px;
  position: absolute;
  transform: translateX(-50%);
}

#assigned-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  appearance: auto; /* Stellt sicher, dass der Standard-Pfeil sichtbar ist */
}

.dropdown-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.contact-svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.contact-checkbox {
  margin-left: auto;
  cursor: pointer;
}

#assigned option {
  display: flex;
  align-items: center;
  padding: 5px;
}

#assigned option > div {
  display: flex;
  align-items: center;
}

#assigned .circle {
  margin-right: 8px;
}

.small_circle {
  width: 20px;
  height: 20px;
}

.custom-date-picker {
  position: relative;
  display: inline-block;
}

.custom-date-picker input[type="date"] {
  padding-right: 40px;  /* Platz für das Icon */
  font-size: 16px;
}

.custom-date-picker .calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 4´0px;
}

.custom-date-picker .calendar-icon img {
  width: 20px; /* Größe des Icons anpassen */
  height: auto;
}

.custom-date-picker input[type="date"]:focus {
  outline: none;
  border-color: #007bff; /* z.B. ein blauer Rand beim Fokussieren */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


@media (max-width: 1115px) {
  .task-form {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .priority {
    flex-direction: row;
    justify-content: space-around;
  }

  .addTaskButton {
    gap: 15px;
  }

  h1 {
    font-size: 3rem !important;
    margin-bottom: 3rem;
    margin-left: 5%;
  }

  .divider {
    display: none;
  }

  .side1,
  .side2 {
    max-width: 100%;
  }

  .priority button {
    width: 100%;
    justify-content: center;
  }

  .error-message-mobile {
    display: block;
  }

  .error-message {
    display: none;
  }

  .addTaskButton .taskButton {
    flex: initial;
  }

  .taskButton-clear {
    margin-top: 32px;
  }

  .taskButton:nth-child(2) {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .addTaskSection {
    margin-bottom: 200px;
  }

  .task-form {
    gap: 15px;
    margin-top: 0px;
    margin-left: 0px !important;
  }

  .divider {
    display: none;
  }

  .side1,
  .side2 {
    width: 100%;
    gap: 10px;
  }

  .priority {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .priority button {
    width: 100%;
    justify-content: center;
  }

  .addTaskButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(246, 247, 248);
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 0;
    padding-top: 8px;
  }

  .taskButton {
    margin-bottom: 8px !important;
    margin-top: 0px !important;
  }

  .taskButton-clear {
    margin-bottom: 8px !important;
    margin-top: 0px !important;
  }

  h1 {
    font-size: 2.5rem !important;
    text-align: center;
  }
  .addTaskSection {
    margin-left: 0%;
  }
}

@media (max-width: 480px) {
  .taskButton {
    padding: 10px;
    font-weight: 400;
    width: 100%;
  }

  .priority button {
    padding: 10px;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem !important;
    margin-left: 2%;
  }

  .task-form {
    width: 98%;
  }
}
