body {
  margin: 0;
  background: rgb(246, 247, 248) !important;

}

h1 {
  margin-bottom: 5rem;
  font-size: 4rem !important;
  display: flex;
  align-self: flex-start;
}

.addTaskSection {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
}

.task-form {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.task-form label {
  align-self: flex-start;
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.red {
  color: red;
  font-weight: 200;
}

.taskButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  font-family: "Inter 18pt";
  font-weight: bold;
  margin: 12px;
  border-radius: 5px;
  gap: 10px;
}

.taskButton img {
  width: 20px;
}

.taskButton:hover {
  border-color: rgba(41, 171, 226, 1) !important;
  color: rgba(41, 171, 226, 1) !important;
}

.taskButton:nth-child(2) {
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  outline: none;
  padding: 15px 16px;
}

.taskButton:nth-child(2):hover {
  background-color: rgba(41, 171, 226, 1) !important;
}

.addTaskButton {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 10%;


}

.addTaskButton .taskButton {
  flex: 1;
border-radius: 10px;
}



.priority {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.priority button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  background-color: white;
  color: black;
}

.red {
  color: red;
  font-weight: 200;
}

.priority button img {
  margin-left: 10px;
}

.priority button:hover {
  background-color: #ddd;
}

.priority button.selected {
  border-width: 2px;
  font-weight: bold;
}

.priority button.selected.urgent {
  background-color: #ff3d00;
  border-color: #ff3d00;
  color: white;
}

.priority button.selected.urgent img {
  content: url(assets/icons/urgent-white.svg);
}


.selected-contacts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.selected-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  position: relative;
}

.selected-contact-initials {
  display: block;
  text-align: center;
}

.remove-contact-btn {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  font-size: 10px;
  line-height: 10px;
  cursor: pointer;
}

.priority button.selected.urgent {
  background-color: #ff3d00;
  border-color: #ff3d00;
  color: white !important;
}

.priority button.selected.urgent img {
  content: url(assets/icons/urgent-white.svg);
}

.priority button.selected.medium {
  background-color: #ffa800;
  border-color: #ffa800;
  color: white !important;
}

.priority button.selected.medium img {
  content: url(assets/icons/medium-white.svg);
}

.priority button.selected.low {
  background-color: #7ae229;
  border-color: #7ae229;
  color: white !important;
}

.priority button.selected.low img {
  content: url(assets/icons/low-white.svg);
}

.priority button.selected {
  color: white !important;
}

.priority button.selected img {
  filter: brightness(0) invert(1); /* Falls du das SVG weiß färben willst */
}


.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-input {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-content.visible {
  display: block;
}

.dropdown-option {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

/* Entfernt die Trennlinie */
.dropdown-option:hover {
  background-color: #f0f0f0;
  border: none;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-name {
  font-size: 16px;
  font-weight: 500;
}

.contact-checkbox {
  margin-left: 100px; /* Schiebt die Checkbox ganz nach rechts */
  cursor: pointer;
}

.contact-svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}



.add-subtask {
  display: flex;
  gap: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.input-wrapper input {
  padding-right: 40px;
}

.input-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#searchInput::-webkit-search-cancel-button {
  display: none;
}

#searchInput:focus {
  border: 1px solid rgba(41, 171, 226, 1);
  box-shadow: none;
}

.iconAdd {
  background-image: url(../assets/icons/addthin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.iconAdd:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2); /* Grauer, halbtransparenter Hintergrund */
  z-index: 4;
}

.formateList {
  margin-left: 24px;
  margin-top: 8px;
}

.editSubtask {
  width: 64px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#subtasks-container .input-wrapper:hover .editIconSubtask,
#subtasks-container .input-wrapper:hover .lineSubtask,
#subtasks-container .input-wrapper:hover .deleteSubtask {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editIconSubtask {
  display: none;
  position: absolute;
  background-image: url(../assets/icons/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  width: 56px;
  height: 12px;
  margin-right: 12px;
}

#subtasks-container .input-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1); /* Grauer, halbtransparenter Hintergrund */
  z-index: 4;
}

.lineSubtask {
  display: none;
  position: absolute;
  background-image: url(../assets/icons/verticalLine.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 1px;
  height: 16px;
  margin-right: -8px;
  align-self: center;
}

#subtasks-container .input-wrapper .deleteSubtask {
  display: none;
}

.deleteSubtask {
  position: absolute;
  background-image: url(../assets/icons/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 32px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}



.side1,
.side2 {
  flex: 1;
  max-width: 400px;
  position: relative;
}

label {
  margin-top: 20px;
  margin-bottom: 8px;
}

.divider {
  width: 1px;
  background-color: #ccc;
  height: 60%;
  position: absolute;
  transform: translateX(-50%);
}

#assigned option {
  display: flex;
  align-items: center;
  padding: 5px;
}

#assigned option > div {
  display: flex;
  align-items: center;
}

#assigned .circle {
  margin-right: 8px;
}

.small_circle {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
.task-form {
  flex-direction: column;
  width: 100%;
}

.divider {
  display: none;
}



}
