body {
  background: rgb(246, 247, 248) !important;
  font-family: "inter 18pt";
}

h1 {
  font-size: 61px !important;
}

.left-main-bar.collapsed {
  width: 80px;
}

.headerContaine {
  display: flex;
}

.primaryButton {
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  outline: none;
  padding: 8px 20px !important;
  border-radius: 8px;
  gap: 10px;
}

.addTaskButtonModal {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.rotating {
  transition: transform 125ms ease;
  transform: rotate(3deg);
}

.secondaryButton {
  background-color: transparent;
  color: rgba(42, 54, 71, 1) !important;
  border: solid rgba(42, 54, 71, 1) !important;
  border-width: 1px !important;
  outline: none;
  padding: 15px 16px;
  border-radius: 8px;
  gap: 10px;
}

.headerBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 5%;
}

.headerBoard input {
  height: 40px;
}

.headerBoardButton {
  width: 150px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  border-color: rgb(7, 36, 46);
  margin-right: 5%;
}
.headerBoardButton:hover {
  background-color: rgba(41, 171, 226, 1) !important;
  border-color: rgba(41, 171, 226, 1) !important;
}

main {
  flex: 1;
}

.searchButton {
  width: 50px;
  height: 32px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.iconSearch {
  background-image: url(../assets/icons/horizontalline.svg), url(../assets/icons/search.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-y: center;
  background-position-x: 10%, 50%;
  background-size: 1.5px, 15px;
  z-index: 5;
}

.searchButton:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: 4;
}

#searchInput::-webkit-search-cancel-button {
  display: none;
}

#searchInput:focus {
  border: 1px solid rgba(41, 171, 226, 1);
  box-shadow: none;
}

.primaryButton img {
  width: 16px;
}

.primaryButton:hover {
  border-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

form {
  height: 48px !important;
}

#board {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 16px;
  scroll-behavior: smooth;
  list-style-type: none;
}

#board::-webkit-scrollbar {
  height: 8px;
}

#board::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 1);
  border-radius: 8px;
}
h2 {
  color: rgb(7, 36, 46);
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: left;
}

.listContainer {
  flex: 0 0 auto;
  width: 280px;
  margin-left: 32px;
  margin-right: 8px;
  flex-shrink: 0;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hide;
}

.main_bar {
  overflow-x: auto;
}

.canvasContainer {
  overflow: auto;
  white-space: nowrap;
  margin-left: 2%;
}

.primaryAddButton {
  display: none !important;
  border: solid 2px rgb(7, 36, 46);
  background-color: rgb(7, 36, 46);
  outline: none;
  padding: 8px 12px !important;
  width: 24px !important;
  height: 28px !important;
  border-radius: 8px;
  gap: 10px;
  background-image: url(../assets/icons/add.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.secondaryAddButton {
  border: solid 2px rgb(7, 36, 46);
  font-size: 0px;
  background-color: rgb(246, 247, 248);
  border-radius: 8px;
  padding: 0px 4px 0px 4px;
  height: 32px;
  width: 32px;
}

.secondaryAddButton .icon {
  width: 12px;
  height: 12px;
}

.secondaryAddButton:hover .icon path {
  stroke: rgba(41, 171, 226, 1);
}

.secondaryAddButton:hover {
  border-color: rgba(41, 171, 226, 1);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.list-title {
  margin: 0 !important;
}

.listContainerEmpty {
  background-color: rgba(231, 231, 231, 1);
  border-radius: 8px;
  border: dotted 1px rgba(168, 168, 168, 1);
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: rgba(168, 168, 168, 1);
}

.canvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

ol {
  padding-inline-start: 0px !important;
}

.statusContainer,
.list,
.listContainer {
  overflow: visible;
}

.listContainerContent {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  color: rgb(7, 36, 46);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
  white-space: normal;
  word-wrap: break-word;
  margin: 16px 4px;
  position: relative;
  width: 100%;
}

.listContainerContent:hover {
  box-shadow: 0 0 4px rgba(41, 171, 226, 1);
}

.searchContainer {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.titleCopy,
.descriptionCopy {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-clamp: 2;
}

.category {
  border-radius: 8px;
  color: white;
  padding: 2px 12px;
  width: max-content;
  font-weight: 300;
}

.category span {
  color: white;
}

.iconArrowUp {
  position: relative;
  display: none;
  width: 12px;
  height: 16px;
  background-image: url("../assets/icons/arrow_drop_down-up.svg");
  border: none !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  z-index: 5;
}

.iconArrowUp:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: -1;
}

.iconArrowDown {
  position: relative;
  width: 12px;
  height: 16px;
  background-image: url("../assets/icons/arrow_drop_down.svg");
  border: none !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  z-index: 5;
}

.iconArrowDown:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: -1;
}

.moveStatus {
  z-index: 100;
}

.statusDialogMain {
  display: none;
}

.statusDialogArea {
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
  padding: 8%;
  height: 198px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 2px;
  border-radius: 15px 0px 15px 15px;
  white-space: nowrap;
  margin-top: 8px;
}

.dialogLinks {
  text-decoration: none;
  color: #2a3647;
  z-index: 10;
}

.statusDialogNav {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.statusDialogNav:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.listDiscription {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 8px;
}

.titleCopy {
  font-weight: bold !important;
  text-align: left;
  padding-top: 8px;
  color: rgba(42, 54, 71, 1);
}

.descriptionCopy {
  color: rgba(168, 168, 168, 1) !important;
  text-align: left;
  margin-top: 8px;
}

.descriptionCopyModal {
  text-align: left;
  margin-top: 10px;
}

.progress-bar {
  background-color: rgba(69, 137, 255, 1) !important;
  transition: width 0.6s ease !important;
  border-radius: 8px !important;
  height: 10px !important;
}

.limitProgressBar {
  width: 160px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 8px;
  height: 10px;
  overflow: hidden;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 10px;
  align-items: center;
}

.priorityContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 10px;
  align-items: center;
}

.assigneeContainer {
  position: relative;
  width: 32px;
  height: 32px;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.circle:nth-child(1) {
  z-index: 1;
}

.circle:nth-child(2) {
  left: 24px;
  bottom: 0;
  z-index: 2;
}

.circle:nth-child(3) {
  left: 48px;
  z-index: 3;
}

.circle:nth-child(4) {
  left: 72px;
  z-index: 4;
}

.circle:nth-child(5) {
  left: 96px;
  bottom: 0;
  z-index: 5;
}

.left_bar_main {
  min-width: 232px;
}

#ToDoTaskContainer {
  min-height: 180px;
}

#inProgressContaine {
  min-height: 180px;
}

#TestingContainer {
  min-height: 180px;
}

#doneContainer {
  min-height: 180px;
}

.editContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-top: 12px;
}

.editIcon {
  border: none;
  background-color: transparent;
  font-size: 12px;
  width: 60px;
  background-image: url(../assets/icons/edit.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0%;
}

.editIcon:hover {
  color: rgba(41, 171, 226, 1) !important;
  background-image: url(../assets/icons/edit_lightblue.png) !important;
}

.deleteIcon {
  border: none;
  background-color: transparent;
  font-size: 12px;
  width: 72px;
  background-image: url(../assets/icons/delete.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0%;
}

.deleteIcon:hover {
  color: rgba(41, 171, 226, 1) !important;
  background-image: url(../assets/icons/delete_lightblue.png) !important;
}

#modalTaskSummary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(100%);
  display: block;
  width: 40%;
  max-width: 500px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, transform 125ms ease;
}

#modalTaskSummary.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0);
}

#modalTaskSummary.hide {
  visibility: visible;
  opacity: 0;
  transform: translate(-50%, -50%) translateX(100%);
}

#taskSummaryModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#taskSummaryModal.hide {
  visibility: hidden;
  opacity: 0;
}

.modalCloseButton {
  position: absolute;
  cursor: pointer;
  right: 24px;
  width: 12px;
  height: 12px;
  background-image: url("../assets/icons/close.svg");
  border: none !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

.modalCloseButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: -1;
}

.modalCloseButton:hover::before {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.modalCloseButton:hover {
  width: 12px;
  height: 12px;
  background-color: transparent;
}

.modalCloseButtonAddTask {
  top: 24px;
  right: 24px;
  width: 12px;
  height: 16px;
  background-image: url("../assets/icons/close.svg");
  border: none !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

.modalCloseButtonAddTask:hover::before {
  content: "";
  position: absolute;
  top: 64px;
  right: 32px;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: 4;
}

.headerAddTaskModal .modalCloseButtonAddTask {
  margin-top: 32px;
  margin-right: 32px;
}

li {
  list-style-type: none;
}

.formateList {
  list-style-type: disc;
}

.summaryTaskContainer h1 {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 0px;
}

.listDiscription span {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.ModalheaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  position: relative;
}

.contentmodlaTask body {
  padding-bottom: 8px;
}

.contentmodlaTask td {
  padding-top: 16px;
  font-weight: 400;
}

table td:first-child {
  color: rgba(66, 82, 110, 1);
  padding-right: 8px;
}

.styleSubstaskSpan {
  margin-top: 16px;
}

.styleSubstaskSpan span {
  color: rgba(66, 82, 110, 1);
}

.iconSummaryModal {
  margin-left: 8px;
  width: 12px;
}

#subtaskContainer span {
  margin-top: 2px;
  font-weight: 400;
  color: rgba(66, 82, 110, 1);
}

.margin_8 {
  margin-top: 12px;
}

.margin_10 {
  margin: 8px 0px !important;
}

#assigneeListModal {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

#assigneeListModal .circle {
  display: inline-block;
  position: relative;
  margin-right: 8px;
}

.subtasksUnit {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.marginLR_8 {
  margin-right: 8px;
  margin-left: 10px;
}

.spanBlue {
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
}

.customCheckboxContainer {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 0px !important;
}

.customInput {
  border: none !important;
  position: relative;
  z-index: 10;
}

.customCheckboxContainer input[type="checkbox"] {
  display: none;
}

.customCheckboxContainer .customCheckbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../assets/icons/checkbox_empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 16px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.customCheckboxContainer input[type="checkbox"]:checked + .customCheckbox {
  background-image: none;
}

.customCheckboxContainer input[type="checkbox"]:checked + .customCheckbox::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/check_withBox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-right: 8px;
  top: 0;
  left: 0;
}

.customCheckboxContainer .subtasksUnit {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.customCheckboxContainer:hover .customCheckbox {
  border-color: #555;
}

.customCheckboxContainerModal {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 0px !important;
  z-index: 1;
  position: relative;
  height: 32px;
}

.customInput {
  border: none !important;
  position: relative;
  z-index: 10;
}

.customCheckboxContainerModal input[type="checkbox"] {
  display: none;
}

.customCheckboxContainerModal .customCheckbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../assets/icons/checkbox_empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 16px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.customCheckboxContainerModal input[type="checkbox"]:checked + .customCheckbox {
  background-image: none;
}

.customCheckboxContainerModal input[type="checkbox"]:checked + .customCheckbox::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/check_withBox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-right: 8px;
  top: 0;
  left: 0;
}

.customCheckboxContainerModal .subtasksUnit {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.customCheckboxContainerModal:hover .customCheckbox {
  border-color: #555;
}

.customCheckboxContainerModal:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: -1;
}

.groupAssignee {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-left: 16px;
}

.groupAssignee {
  margin-top: 8px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  top: 4.5px;
  cursor: pointer;
}

.addTaskSectionModal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3sease;
  margin-top: 0px;
  margin-left: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
  --bs-backdrop-zindex: unset !important;
  --bs-backdrop-bg: unset !important;
  --bs-backdrop-opacity: unset !important;
  z-index: 200 !important;
}

.modalAddTask {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(100%);
  display: block;
  height: 850px;
  width: 1000px;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: opacity 0.3s ease, transform 75 ease;
}

.modalAddTask.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0);
  transition: opacity 0.5s ease, transform 100ms ease;
}

.modalAddTask.hide {
  opacity: 0;
  transform: translate(-50%, -50%) translateX(100%);
  transition: opacity 0.5s ease, transform 100ms ease;
}

.show {
  visibility: visible;
  opacity: 1;
}

.headerAddTaskModal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 50px;
}

.taskButton {
  margin-top: 64px !important;
  margin-bottom: 24px;
}

.taskButton-clear {
  margin-top: 64px !important;
  margin-bottom: 24px;
}

.taskButton-clear:hover {
  border-color: rgba(41, 171, 226, 1) !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
  color: rgba(41, 171, 226, 1) !important;
}

.error-message {
  margin-top: 64px !important;
  margin-bottom: 24px;
}

.priority button {
  border: solid 1px #d1d1d1;
}

.ModalHeadline {
  font-size: 61px;
  font-weight: 700;
  margin-top: 16px;
}

.task-form {
  margin-top: 0px;
}

#editSubtasks-container .input-wrapper .deleteSubtask {
  display: none;
}

#editSubtasks-container .input-wrapper:hover .editIconSubtask,
#editSubtasks-container .input-wrapper:hover .lineSubtask,
#editSubtasks-container .input-wrapper:hover .deleteSubtask {
  display: flex;
  align-items: center;
  justify-content: center;
}

#editSubtasks-container .input-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: 0;
}

.addTaskButtonPrimary {
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-family: "Inter 18pt";
  font-weight: bold;
  border-radius: 10px;
  height: 56px;
  margin-top: 64px;
  white-space: nowrap;
}

.addTaskButtonPrimary img {
  margin-left: 16px;
}

.addTaskButtonPrimary:hover {
  border-color: rgba(41, 171, 226, 1) !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(41, 171, 226, 1) !important;
}

.form-footer-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 95%;
}

.mobile {
  display: none;
}

.positoinCategory {
  top: 325px !important;
}

.space {
  gap: 117%;
}

.secondaryButton-clear {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter 18pt";
  font-weight: bold;
  margin: 12px;
  margin-top: 64px;
  border-color: #091931 !important;
  background-color: transparent;
  color: rgba(42, 54, 71, 1) !important;
  border: solid rgba(42, 54, 71, 1) !important;
  border-width: 1px !important;
  outline: none;
  padding: 15px 16px;
  border-radius: 8px;
  gap: 10px;
  height: 56px;
  font-weight: 300 !important;
}

.secondaryButton-clear svg {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.secondaryButton-clear svg path {
  fill: #2a3647;
}

.secondaryButton-clear:hover {
  border-color: rgba(41, 171, 226, 1) !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
  color: rgba(41, 171, 226, 1) !important;
}

.secondaryButton-clear:hover svg path {
  fill: rgba(41, 171, 226, 1);
}

.subTaskHover {
  color: white;
  transition: color 125ms ease;
}

[id^="progressContainer-"]:hover .subTaskHover {
  color: rgba(0, 0, 0, 1);
}

.dashed-box {
  border: 2px dashed rgba(168, 168, 168, 1);
  margin: 10px 0;
  border-radius: 8px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}

.listContainerContent {
  transition: transform 125ms ease;
}

.listContainerContent.dragging {
  transform: rotate(20deg);
}

.lineSubtaskAddnewSubtaskEdit {
  background-image: url(../assets/icons/verticalLine.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 34px;
  background-size: 20px;
  width: 1px;
  height: 16px;
  margin-right: -8px;
  align-self: center;
  top: 16px;
}

@media (max-width: 1115px) {
  .headerAddTaskModal {
    margin-left: 0px;
  }

  .headerBoard {
    justify-content: flex-start;
  }

  .searchContainer {
    display: none;
  }

  form {
    height: auto !important;
    min-height: 40px;
    width: 100%;
  }

  .primaryAddButton {
    display: block !important;
  }

  .headerBoardTitle {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }

  .headerBoard {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .searchContainer {
    width: 30%;
  }

  .headerBoardButton {
    margin-top: 6px;
    width: 220px;
  }

  .modalAddTask {
    width: 90%;
  }

  .task-form {
    margin-top: 24px;
    width: 100%;
    margin-top: 0px !important;
  }

  .addTaskButtonModal {
    display: flex;
    gap: 10px;
    background-color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
  }

  .addTaskButtonPrimary,
  .secondaryButton-clear,
  .taskButton-clear {
    margin-top: 16px !important;
  }

  .desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 47px !important;
  }

  .mobile {
    display: bock;
  }

  .primaryButton {
    display: none !important;
  }

  #modalTaskSummary {
    width: 95%;
    max-width: 500px;
  }

  .searchContainer {
    min-width: 100vw;
    width: 100% !important;
  }

  #editSubtasks-container .input-wrapper:hover .editIconSubtask,
  #editSubtasks-container.input-wrapper:hover .lineSubtask,
  #editSubtasks-container .input-wrapper .deleteSubtask {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #editSubtasks-container .input-wrapper .editIconSubtask,
  #editSubtasks-container.input-wrapper:hover .lineSubtask,
  #editSubtasks-container .input-wrapper .deleteSubtask {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .positoinCategory {
    top: 370px !important;
  }
}

@media (max-width: 480px) {
  .ModalHeadline {
    font-size: 40px !important;
  }

  .priority {
    flex-direction: column;
  }

  #board {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 16px;
  }

  .listContainer {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .headerBoardButton {
    margin-right: 5%;
  }

  .secondaryAddButton {
    margin-right: 2px;
  }

  .canvasContainer {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 80px;
  }

  .my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .d-flex {
    display: block;
  }
  form {
    margin-left: 0px !important;
  }

  form {
    height: auto !important;
    min-height: 40px;
    width: 100%;
  }

  .headerBoard input {
    flex: 1;
  }
  #ToDoTaskContainer {
    min-height: 20px;
  }

  #inProgressContaine {
    min-height: 20px;
  }

  #TestingContainer {
    min-height: 20px;
  }

  #doneContainer {
    min-height: 20px;
  }

  .modalAddTask {
    width: 100%;
    max-height: 700px;
    height: none;
  }
}
