body {
  background: rgb(246, 247, 248) !important;
}

.headerContaine {
  display: flex;
}

.headerBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 5%;
}

.headerBoard input {
  height: 40px;
}

.headerBoard button {
  width: 250px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  border-color: rgb(7, 36, 46);
  margin-right: 5%;
}

.headerBoard button:hover {
  background-color: rgba(41, 171, 226, 1) !important;
  border-color: rgba(41, 171, 226, 1) !important;
}

main {
  flex: 1;
}

.iconSearch {
  background-image: url(../assets/icons/horizontalline.svg), url(../assets/icons/search.svg);
  background-size: 2px, 16px;
  background-repeat: no-repeat, no-repeat;
  margin-right: 20px;
  background-position-y: center;
  background-position-x: 80%, 90%;
}

.primaryButton img {
  width: 16px;
}

.primaryButton:hover {
  border-color: rgba(41, 171, 226, 1);
}

form {
  height: 48px !important;
}

#board {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  list-style-type: none;
}

#board::-webkit-scrollbar {
  height: 8px;
}

#board::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 1);
  border-radius: 8px;
}
h2 {
  color: rgb(7, 36, 46);
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: left;
}

.listContainer {
  flex: 0 0 auto;
  min-width: 252px;
  max-width: 252px;
  margin-left: 32px;
  margin-right: 8px;
  flex-shrink: 0;
}

.canvasContainer {
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 2%;
}

.primaryAddButton {
  display: none !important;
  border: solid 2px rgb(7, 36, 46);
  background-color: rgb(7, 36, 46);
  outline: none;
  padding: 8px 12px !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 8px;
  gap: 10px;
  background-image: url(../assets/icons/add.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.secondaryAddButton {
  border: solid 2px rgb(7, 36, 46);
  font-size: 0px;
  background-color: rgb(246, 247, 248);
  border-radius: 8px;
}

.secondaryAddButton .icon {
  width: px;
  height: 12px;
}

.secondaryAddButton:hover .icon path {
  stroke: rgba(41, 171, 226, 1);
}

.secondaryAddButton:hover {
  border-color: rgba(41, 171, 226, 1);
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.listContainerEmpty {
  background-color: rgba(231, 231, 231, 1);
  border-radius: 8px;
  border: dotted 1px rgba(168, 168, 168, 1);
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: rgba(168, 168, 168, 1);
}

.canvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

ol {
  padding-inline-start: 0px !important;
}

.listContainerContent {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: rgb(7, 36, 46);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
  white-space: normal;
  word-wrap: break-word;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.titleCopy,
.descriptionCopy {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-clamp: 2;
}

.category {
  background-color: rgba(0, 56, 255, 1);
  border-radius: 8px;
  color: white;
  padding: 2px 12px;
  width: max-content;
  font-weight: 300;
}

.category span {
  color: white;
}

.listDiscription {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.titleCopy {
  font-weight: bold;
  text-align: left;
  padding-top: 8px;
  color: rgba(42, 54, 71, 1);
}

.descriptionCopy {
  color: rgba(168, 168, 168, 1);
  text-align: left;
  margin-top: -20px;
}

.progress-bar {
  background-color: rgba(69, 137, 255, 1) !important;
  transition: width 0.6s ease !important;
  border-radius: 8px !important;
  height: 10px !important;
  width: 150px !important;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 10px;
  align-items: center;
}

.priorityContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 10px;
  align-items: center;
}

.assigneeContainer {
  position: relative;
  width: 32px;
  height: 32px;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.circle:nth-child(1) {
  z-index: 1;
}

.circle:nth-child(2) {
  left: 24px;
  bottom: 0;
  z-index: 2;
}

.circle:nth-child(3) {
  left: 48px;
  z-index: 3;
}

.circle:nth-child(4) {
  left: 62px;
  z-index: 4;
}

.circle:nth-child(5) {
  left: 86px;
  bottom: 0;
  z-index: 5;
}

input {
  border-radius: 8px !important;
}

@media (max-width: 768px) {
  .primaryButton {
    display: none !important;
  }

  .primaryAddButton {
    display: block !important;
  }

  .headerBoardTitle {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }

  .headerBoard {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  form {
    height: auto !important;
    min-height: 40px;
    width: 100%;
  }

  @media (max-width: 412px) {
    #board {
      display: flex !important;
      flex-wrap: wrap !important; /* Damit die Liste umbricht */
      justify-content: center; /* Optional: Zentrieren der Liste */
      gap: 16px; /* Optional: Abstand zwischen den Elementen */
    }

    .listContainer {
      flex: 0 0 100% !important; /* Nimmt die volle Breite ein */
      max-width: 100% !important; /* Verhindert, dass die Liste zu breit wird */
      margin-left: 0 !important; /* Optional: Passe die Abstände an */
      margin-right: 0 !important;
    }

    .headerBoard button {
      margin-right: 5%;
    }

    .secondaryAddButton {
      margin-right: 2px;
    }

    .canvasContainer {
      margin-right: 5%;
      margin-left: 5%;
    }

    .my-2 {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    .d-flex {
      display: block;
    }
    form {
      margin-left: 0px !important;
    }

    form {
      height: auto !important;
      min-height: 40px;
      width: 100%;
    }

    .searchContainer {
      width: 100%;
    }
    .headerBoard input {
      flex: 1;
    }
  }
}
