main {
  overflow-y: scroll !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  margin-top: 40px !important;
  text-align: left;
  margin-bottom: 16px;
}

h2 {
  margin-top: 32px !important;
  font-weight: 700 !important;
  font-size: 27px !important;
}

h3 {
  margin-top: 20px !important;
  font-weight: 700 !important;
  font-size: 27px !important;
  margin-bottom: 0px !important;
}

.legalPageContainer {
  text-align: left;
  margin-left: 5%;
  overflow-y: auto;
  margin-bottom: 50px;
}

.spanLegalCopy {
  margin-top: 20px;
}

.spanLegalCopyBold {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}

.lightblue {
  color: rgba(41, 171, 226, 1);
}

ol li::marker {
  font-size: 27px;
  font-weight: bold;
  padding-right: 32px;
}

li {
  padding-left: 30px;
}

.bold {
  font-weight: 700;
  font-size: 27px;
  padding-top: 32px;
}

ul li {
  padding-left: 2px;
  margin-left: 0;
}

.noBulletPoints {
  list-style-type: none;
}

.privacy {
  margin-top: 16px !important;
}

a {
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
}

@media (max-width: 786px) {
  .legalPageContainer {
    overflow-y: scroll;
    margin-bottom: 120px;
  }
}
