.privacy {
  margin-top: 340px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

.privacy_a{
  text-decoration: none;  
}

.privacy_info {
  color: #A8A8A8;
  font-weight: 400;
  font-size: 16px;
}

.privacy_info:hover{
  color: #29abe2;
  font-weight: 700;
}
