.privacy {
  margin-top: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

.privacy_a {
  text-decoration: none;
}

.privacy_info {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
}

.privacy_info:hover {
  color: #29abe2;
  font-weight: 700;
}

h1 {
  margin-top: 40px !important;
  text-align: left;
  margin-bottom: 16px;
}

.legalPageContainer {
  text-align: left;
  margin-left: 5%;
}

.spanLegalCopy {
  margin-top: 20px;
}

.lightblue {
  color: rgba(41, 171, 226, 1);
}

h2 {
  margin-top: 24px !important;
  font-weight: 700 !important;
  font-size: 27px !important;
}
