main {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(246, 247, 248) !important;
}

.card h1 {
  margin-right: 0px;
}

.atfLogin {
  margin-top: 32px;
  justify-content: flex-end;
}

.atfLogo img {
  width: 100.03px;
  height: 121.97px;
  top: 80px;
  left: 77px;
  margin-top: 40px;
}

.atfNav {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.atfNav button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 16px !important;
  cursor: pointer;
}

.atfNav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-right: 16px;
}

.primaryButton {
  cursor: pointer;
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  outline: none;
  padding: 16px 16px;
  border-radius: 8px;
  gap: 10px;
  text-align: center;
  font-weight: 700 !important;
}

.formInputContainer input::placeholder {
  color: rgba(209, 209, 209, 1);
  opacity: 1;
}

#inputEmail:focus,
#inputPassword1:focus {
  border: 1px solid rgba(41, 171, 226, 1);
  outline: none;
  box-shadow: none !important;
  filter: none !important;
}

.primaryButton:hover {
  background-color: #29abe2 !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.secondaryButton:hover {
  border-color: #29abe2 !important;
  color: #29abe2 !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.secondaryButton {
  cursor: pointer;
  background-color: transparent;
  color: rgba(42, 54, 71, 1) !important;
  border: solid rgba(42, 54, 71, 1) !important;
  border-width: 1px !important;
  outline: none;
  padding: 15px 16px;
  border-radius: 8px;
  gap: 10px;
  font-weight: 700 !important;
}

.secondaryButton:hover {
  border-color: #29abe2 !important;
}

.footerNav {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 16px;
}

.footerNav a {
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-right: 16px;
}

.navHover:hover {
  color: #29abe2 !important;
  font-weight: 700;
}

.LoginButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}

.card {
  background-color: white;
  padding: 48px 115px;
  gap: 32px;
  border-radius: 30px !important;
  background: white;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
  border-color: white !important;
}

.formInputContainer {
  width: 422px;
}

.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.iconEmail {
  background-image: url(../assets/icons/mail.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.iconPassword {
  background-image: url(../assets/icons/lock.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.card-body {
  text-align: center;
}

.card-body h1 {
  position: relative;
  display: inline-block;
}

.card-body h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: rgba(41, 171, 226, 1);
}

.LoginContainer,
#loginContainer {
  position: relative;
}

#loadingMessage {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  width: 200px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 9999;
  transition: all 1000ms ease-in-out;
  background-color: rgb(246, 247, 248);
}

#loadingMessage img {
  width: 320px;
}

.alertMessage {
  color: red !important;
  text-align: left;
  font-size: 12px !important;
}

#loadingMessageMobile {
  display: flex;
  top: 30%;
  left: 30%;
  width: 50px;
  height: 200px;
  z-index: 9999;
  transition: all 1000ms ease-in-out;
}

#loadingMessageMobile img {
  width: 200px;
  height: 200px;
}

#mobileLogoChangeDark {
  display: none;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 75ms ease-in-out, visibility 0s linear 1s;
}

.fade-in.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 75ms ease-in-out, visibility 0s;
}

input {
  cursor: pointer;
}

.margin_top {
  margin-top: -12px !important;
}

@media (max-width: 1000px) {
  .atfLogo img {
    width: 80px;
    height: 121.97px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
}

@media (max-width: 786px) {
  .card {
    padding: 32px 16px !important;
  }

  .LoginContainer {
    padding: 0px;
  }

  .form-control {
    width: 80% !important;
  }
  .mb-3 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  #loadingMessage {
    left: 0px !important;
  }
}

@media (max-width: 500px) {
  .formInputContainer {
    width: 322px;
  }
}

@media (max-width: 480px) {
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 120px;
  }

  .card-body {
    padding: 0px !important;
  }

  header {
    display: none;
  }

  .card h1 {
    font-size: 40px !important;
  }

  .atfLogo img {
    width: 64px;
    height: 78.03px;
    margin-top: 32px;
    margin-bottom: 0px;
  }

  .atfNavMobile {
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    clear: both;
  }

  .atfNavMobile a {
    text-decoration: none;
    color: rgba(42, 54, 71, 1);
  }

  .LoginButtonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  body {
    background: rgba(42, 54, 71, 1) !important;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0;
    align-items: stretch;
  }

  #mobileNav {
    width: 100%;
    position: relative;
  }

  .formInputContainer {
    gap: 0px;
    width: 280px;
    height: 200px;
  }

  .primaryButton {
    width: 120px;
    padding: 8px 0px;
  }

  .mb-3 {
    margin-top: 20px;
  }

  @media (max-width: 350px) {
    .mb-3 {
      padding-left: 0px !important;
      margin-left: 0px !important;
      width: 290px;
    }
  }
}
