body {
  margin: 0;
  background: rgb(246, 247, 248) !important;
}

.atfSignup {
  display: flex;
  justify-content: space-between;
}

.atfLogo img {
  width: 100.03px;
  height: 121.97px;
  margin-top: 40px;
}

.atfNav {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.atfNav button {
  cursor: pointer;
  font-size: 12px;
  padding: 8px 16px !important;
}

.atfNav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-right: 16px;
}

.footerNav {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 16px;
}

.footerNav a {
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-right: 16px;
}

.footerNav a:hover {
  color: #29abe2;
  transform: scale(5);
}

.primaryButton {
  cursor: pointer;
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  border: none;
  outline: none;
  padding: 8px 20px !important;
  border-radius: 8px;
  gap: 10px;
}

.signupButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 16px;
}

.card {
  background-color: white;
  padding: 48px 115px;
  border-radius: 30px !important;
  background: white;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 120px;
  margin-bottom: 80px;
  border-color: white !important;
}

.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.iconName {
  background-image: url(../assets/icons/person.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  margin-right: 1px;
  background-position-y: center;
  background-position-x: 90.5%;
}

.iconEmail {
  background-image: url(../assets/icons/mail.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  margin-right: 20px;
  background-position-y: center;
  background-position-x: 90%;
}

.iconPassword {
  background-image: url(../assets/icons/lock.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  margin-right: 20px;
  background-position-y: center;
  background-position-x: 90%;
}

.formInputContainer form {
  width: 422px;
}

.cardHeader {
  display: flex;
}

.card-body {
  text-align: center;
}

.card-body img {
  width: 20px;
}

.card-body h1 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.card-body h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: rgba(41, 171, 226, 1);
}

.atfNavMobile {
  display: none;
}

.form-check {
  margin-top: 24px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.form-check-label {
  padding-left: 16px;
}

.form-check-label a {
  color: rgba(41, 171, 226, 1);
}

#inputNameSignin:focus,
#inputPassword1Signin:focus,
#inputPassword2Signin:focus,
#inputEmailSignin:focus
 {
  border: 1px solid rgba(41, 171, 226, 1);
  outline: none;
  box-shadow: none !important;
  filter: none !important;
}

a {
  text-decoration: none !important;
}

.form-check-input:hover {
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 32px;
}

.primaryButton {
  margin-top: 32px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: #29abe2 !important;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.buttonBack {
  border: transparent;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.buttonBack:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: 4;
}

.toast {
  background-color: transparent;
  border-radius: 16px !important;
  border: none !important;
  z-index: 1050;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-body {
  text-align: center;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 20px;
  border-radius: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.alertMessage {
  color: red !important;
  text-align: left;
  font-size: 12px !important;
}

.form-check-input {
  position: relative;
}

.customCheckbox:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  z-index: 4;
}

.linkHover:hover {
  text-decoration: underline !important;
}

.linkHover {
  color: #29abe2;
}

.formatCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customCheckboxContainer {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 0px !important;
}

.customInput {
  border: none !important;
  position: relative;
  z-index: 10;
}

.customCheckboxContainer input[type="checkbox"] {
  display: none;
}

.customCheckboxContainer .customCheckbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../assets/icons/checkbox_empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 16px;
  transition: background-color 75ms ease, border-color 75ms ease;
}

.customCheckboxContainer input[type="checkbox"]:checked + .customCheckbox {
  background-image: none;
}

.customCheckboxContainer input[type="checkbox"]:checked + .customCheckbox::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/check_withBox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-right: 8px;
  top: 0;
  left: 0;
}

input {
  cursor: pointer;
}

.customCheckboxContainer .subtasksUnit {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.customCheckboxContainer:hover .customCheckbox {
  border-color: #555;
}

.subtasksUnit {
  color: rgba(168, 168, 168, 1) !important;
}

.formInputContainer input::placeholder {
  color: rgba(209, 209, 209, 1) !important;
  opacity: 1;
}

@media (max-width: 1000px) {
  .atfLogo img {
    width: 80px;
    height: 121.97px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .card {
    padding: 32px 56px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .atfsignup {
    display: block;
  }

  .card-body h1 {
    font-size: 48px !important;
  }

  .atfNav {
    display: none !important;
  }

  .card {
    padding: 16px 24px;
    margin-top: 64px;
  }

  .atfLogo img {
    width: 64px;
    height: 78.03px;
    margin-top: 32px;
    margin-bottom: 0px;
  }

  .signupButtonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
  }

  .atfNavMobile {
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    clear: both;
  }
  .atfNavMobile a {
    text-decoration: none;
    color: rgba(42, 54, 71, 1);
  }

  .atfNavMobile button {
    width: 104px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .primaryButton {
    width: 180px;
  }

  .secondaryButton {
    width: 180px;
  }

  .card-body {
    padding: 0px !important;
  }

  .positionMobileSignup {
    margin-top: 20px;
  }

  .toast {
    background-color: transparent;
    border-radius: 16px !important;
    border: none !important;
    z-index: 1050;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toast-body {
    text-align: center;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    font-size: 20px;
    border-radius: 16px;
  }

  .toast {
    width: 80%;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
