.container_summary {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.summary_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    color: rgba(7, 36, 46);
    gap: 31px;
    margin-bottom: 25px;
}

.summary_title {
    font-weight: 700;
    font-size: 42px;
}

.line {
    width: 2px;
    height: 60px;
    background-color: #29ABE2;
}

.summary_header_span {
    font-weight: 400;
    font-size: 22px;
}

.summary_main {
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.info_main {
    width: 95%;
    gap: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.check_pencil {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.check_pencil_area {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background-color: #ffff;
    gap: 6%;
    text-decoration: none;
}

.check_pencil_area:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #2A3647;
}

.check_pencil_area:hover .side_number {
    color: white;
}

.check_pencil_area:hover .under_task_word {
    color: white;
}

.check_pencil_area:hover .circle_pencil_check {
    background-color: #ffff;
}

.check_pencil_area:hover .side_img_p {    
    filter: invert();
}

.check_pencil_area:hover .side_img_c {    
    filter: invert();
}

.side_img {
    width: 69px;
}

.side_img_p {
    width: 26px;
}

.side_img_p:hover {
fill: #2A3647;
}

.side_img_c {
    width: 35px;
}

.circle_pencil_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;    
    border-radius: 50%;      
    background-color: #2A3647;
}

.side_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.side_number {
    font-size: 63px;
    font-weight: 600;
    color: black;
}

.date {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background-color: #ffff;
    gap: 4%;
    text-decoration: none;
}

.date_line {
    display: flex;
    align-items: center;
}

.date_line_color {
    width: 2px;
    height: 100px;
    background-color: #80808070;
}

.date:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #2A3647;
}

.date:hover .side_number {
    color: white;
}

.date:hover .under_task_word {
    color: white;
}

.date:hover .date_number {
    color: white;
}

.date_area {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.date_number {
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.under_task {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.under_task_area {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background-color: #ffff;
    gap: 6%;
    text-decoration: none;
}

.under_task_area:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #2A3647;
}

.under_task_area:hover .side_number {
    color: white;
}

.under_task_area:hover .under_task_word {
    color: white;
}

.under_task_word {
    text-align: center;
    color: black;
}

.greetings {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45px;
}

.morning {
    font-size: 60px;
    font-weight: 500;
}

.user_name {
    color: #29ABE2;
    font-weight: 700;
    font-size: 80px;
}

@media (max-width: 1520px) {
    .greetings {
        display: none;
    }

    .info_main {
        width: 95%;
    }
}

@media (max-width: 690px) {
    .side_img {
        width: 55px;
    }

    .summary_header {
        gap: 0px;
        flex-direction: column;
        align-items: flex-start;
    }

    .line {
        display: none;
    }

    .line_mobile {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 120px;
        height: 3px;
        background-color: #29ABE2;
    }
}

@media (max-width: 435px) {
    .date_area {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .check_pencil_area {
        height: 100px;
    }

    .side_img {
        width: 40px;
    }

    .side_img_p {
        width: 18px;
    }
    
    .side_img_c {
        width: 18px;
    }

    .circle_pencil_check {        
        width: 40px;
        height: 40px;    
        
    }

    .side_number {
        font-size: 30px;
    }

    .date {
        gap: 1%;
    }

    .date {
        height: 100px;
    }

    .date_line_color {
        height: 75px;
    }

    .date_number {
        font-size: 14px;
    }

    .under_task_word {
        font-size: 15px;
    }

    .under_task_area {
        height: 100px;
    }
}